{% load static %}

<footer class="main-footer">
    <div class="container centered-content">
        <img src="{% static 'assets/images/Footer - Slogan.png' %}" alt="É mais do que bom. É da Bombril" class="footer-logo"> 
                    <div class="footer-links">
            <a href="#">Termos de Uso</a>
            <a href="#">Política de Privacidade</a>
            <a href="#">LGPD</a>
        </div> 
        <p class="footer-text"><strong>PARTICIPAÇÃO:</strong> DE 15/08/2025 ÀS 23H59 DE 15/10/2025.
            <strong>SORTEIOS:</strong> 20/08/2025, 23/08/2025, 27/08/2025, 30/08/2025, 03/09/2025, 06/09/2025,
            10/09/2025, 13/09/2025, 17/09/2025, 20/09/2025, 24/09/2025, 27/09/2025, 01/10/2025, 04/10/2025,
            08/10/2025, 11/10/2025, 15/10/2025 e 18/10/2025 PELO RESULTADO DA LOTERIA FEDERAL. <strong>PROMOÇÃO
                VÁLIDA PARA MAIORES DE 18 ANOS. LIMITE DE 3 NÚMEROS DA SORTE POR CUPOM FISCAL CADASTRADO.</strong>
            CONSULTE REGULAMENTO COM Nº DO CERTIFICADO DE AUTORIZAÇÃO SPA/MF EM
            <strong>WWW.PROMOCAOBOMBRIL.COM.BR.</strong> *SUGESTÃO DE PRÊMIO. A PREMIAÇÃO SERÁ ENTREGUE EM CARTEIRA
            DIGITAL, SEM FUNÇÃO SAQUE E TRANSFERÊNCIA, CONFORME REGULAMENTO.</p> 
    </div>
</footer>