{% load static %}
<header class="main-header">
    <div class="container">

        <a href="{% url 'home_participantes' %}" class="logo">
            <img src="{% static 'assets/images/LOGO_BOMBRIL.png' %}" alt="Logotipo Bombril">
        </a>

        <nav class="main-nav">
            <ul class="nav-links">
                <li><a href="#participe">Como participar</a></li>
                <li><a href="#regulamento">Regulamento</a></li>
                <li><a href="#resultados">Resultados</a></li>
                <li><a href="#FAQ">FAQ</a></li>
            </ul>
            <a href="#login" class="btn btn-primary">PARTICIPE</a>
        </nav>

        <button class="hamburger-menu" aria-label="Abrir Menu" onclick="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!-- Menu Mobile -->
        <div class="mobile-nav" id="mobileMenu">
            <ul>
                <li><a href="#participe">Como participar</a></li>
                <li><a href="#regulamento">Regulamento</a></li>
                <li><a href="#resultados">Resultados</a></li>
                <li><a href="#FAQ">FAQ</a></li>
            </ul>
            <a href="#login" class="btn btn-primary d-block mt-3">PARTICIPE</a>
        </div>
    </div>
</header>
