{% load static %}
<header class="main-header">
        <div class="container">
            <a href="{% url 'home_participantes' %}" class="logo">
                <img src="{% static 'assets/images/LOGO_BOMBRIL.png' %}"alt="Logotipo Bombril">
            </a>
            <nav class="main-nav">
                <ul class="nav-links">
                    <li><a href="#comoparticipar">Como participar</a></li>
                    <li><a href="#">Regulamento</a></li>
                    <li><a href="#">Resultados</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <a href="{% url 'cadastrar_participante' %}" class="btn btn-primary" > PARTICIPE</a>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir Menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>