{% load static %}

<footer class="footer mt-auto pt-3" style="background-color: #db9d2c; text-align: left;">
  <div class="text-center fw-bold py-2" style="font-size: 1.25rem;">
    É MAIS DO QUE BOM. É DA
    <img src="{% static 'imgs_sistema/logo_bombril.png' %}" alt="Bombril" height="30">
  </div>
  <div class="footer-legal text-center small px-3 py-2" style="background-color: #db9d2c; color:black;">
    <span style="color: red; font-weight: bold;">
      PARTICIPAÇÃO:
    </span>
    De 11/04/2025 às 20h59 de 15/10/2025. 
    <span style="color: red; font-weight: bold;">SORTEIOS:</span> 20/04/2025, 11/05/2025, 27/05/2025, 30/06/2025, 03/08/2025, 06/09/2025, 10/09/2025, 13/09/2025, 17/09/2025, 24/09/2025, 25/09/2025, 01/10/2025, 04/10/2025, 08/10/2025, 11/10/2025, 15/10/2025. 
    Lembre-se de guardar seu cupom fiscal. Consulte o regulamento com nº do certificado de autorização SEAE no site: 
    <a href="https://www.promocaobombril.com.br" target="_blank" class="text-white text-decoration-underline">www.promocaobombril.com.br</a>.
    Imagens meramente ilustrativas.
  </div>
</footer>