{% load static %}
<header class="main-header">
        <div class="container">
            <a href="{% url 'home_participantes' %}" class="logo">
                <img src="{% static 'assets/images/LOGO_BOMBRIL.png' %}"alt="Logotipo Bombril">
            </a>
            <nav class="main-nav">
                <ul class="nav-links">
                   
                </ul>
                <a href="{% url 'painel_participante' %}" class="btn btn-primary" > VOLTAR </a>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir Menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

    </header>

       <section id="home" class="hero-banner" style="background-image: url('images/Background\ -\ Amarelov2.jpg');">
    
            <div class="container hero-container banner-desktop-wrapper">
                <div class="hero-image-front">
                    <img src="{% static 'assets/images/BANNER - Img 1col.png' %} " alt="Promoção de um brilho no seu futuro">
                </div>
            </div>

    </section>