{% extends "master.html" %}
{% load static %}

{% block title %}
  Sistema Gestor de Campanha - Dashboard
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-3 mb-3">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h5 class="card-title">Participantes</h5>
        <p class="card-text">1 Milhão</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card text-white bg-success">
      <div class="card-body">
        <h5 class="card-title">Cupons Cadastrados</h5>
        <p class="card-text">100 Milhões</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card text-white bg-info">
      <div class="card-body">
        <h5 class="card-title">Números da Sorte</h5>
        <p class="card-text">10 Milhões</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card text-white bg-warning">
      <div class="card-body">
        <h5 class="card-title">Sorteios</h5>
        <p class="card-text">30%</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <p>Texto</p>
        <p>Texto</p>
        <p>Texto</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mb-3">
    <div class="card">
      <div class="card-body">
        <p>Texto</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <p>Texto</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
