{% extends "master.html" %}

{% block title %}
  Participante detalhado {{ participante.nome }} 
{% endblock %}

 {% block cabecalho %}
    <h2> Participante detalhado </h2>
 {% endblock %}

{% block content %}  
  <h3> {{ participante.nome }} </h3> 
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-5">
      
        <table class="table table-hover">
            <tr> 
              <td> <b> ID: </b> </td> <td>{{ participante.id }} </td>
            </tr>

            <tr> 
              <td> <b> Nome: </td> </b> <td> {{ participante.nome }} </td>
            </tr> 

             <tr> 
              {% if participante.status == '1'%}
                <td> <b> Status: </td> </b> <td> Ativo </td>
              {% else %}
                <td> <b> Status: </td> </b> <td> Inativo </td>
              {% endif %}
            </tr>

            <tr> 
              <td> <b> Data de Nascimento: </b> <td> {{ participante.email }} </td></td>
            </tr>

             <tr> 
              <td> <b> Cpf: </b> <td> {{ participante.cpf }} </td></td>
            </tr>

             <tr> 
              <td> <b> Telefone: </b> <td> {{ participante.telefone }} </td></td>
            </tr>

             <tr> 
              <td> <b> celular: </b> <td> {{ participante.celular }} </td></td>
            </tr>

             <tr> 
              <td> <b> E-mail: </b> <td> {{ participante.email }} </td></td>
            </tr>

            <tr> 
              <td> <b> Estado: </b> <td> {{ participante.uf }} </td></td>
            </tr>

            <tr> 
              <td> <b> Cidade: </b> <td> {{ participante.cidade }} </td></td>
            </tr>

            <tr> 
              <td>  <b> Cep: </b> <td> {{ participante.cep }} </td></td>
            </tr>

            <tr> 
              <td> <b> Logradouro: </b> <td> {{ participante.rua }} </td></td>
            </tr>

             <tr> 
              <td> <b> Bairro: </b> <td> {{ participante.bairro }} </td></td>
            </tr>

            <tr> 
              <td> <b> Número: </b> <td> {{ participante.num }} </td></td>
            </tr>
        </table>        
       
      </div>
    </div>
  </div>


    

{% endblock %}
