{% extends 'base.html' %}
{% load static %}

{% block title %}Como Participar{% endblock %}


{% block content %}
{% include 'includes/_header.html' %}

<!-- como participar  -->

 <section id="comoparticipar" class="page-content section-up-interna" style="background-color: #fffdf5; margin-top:5%;">
    <h1 class="custom-title text-bombril-red text-center">COMO PARTICIPAR</h1>
    <div class="participar-steps">
      <div class="step">
        <div class="step-icon">
          <img src="{% static 'assets/images/Ícone-de-Cadastro.png' %}" alt="Ícone de Compra">
        </div>
        <div class="step-content">
          <h3 class="step-title">1. COMPRE OS PRODUTOS</h3>
          <p>Adquira, no mínimo, <strong>3 (três) produtos Bombril participantes</strong> em uma mesma compra, em
            qualquer loja do território nacional.</p>
        </div>
      </div>
      <div class="step">
        <div class="step-icon">
          <img src="{% static 'assets/images/Ícone-de-Cadastro.png'%}" alt="Ícone de Compra">
        </div>
        <div class="step-content">
          <h3 class="step-title">2. CADASTRE SEU CUPOM</h3>
          <p>Acesse o site <strong>www.promocaobombril.com.br</strong> ou envie uma mensagem para o WhatsApp da
            promoção no número <strong>(11) 99999-9999</strong>.</p>
          <p>Faça seu cadastro pessoal e envie uma foto legível do seu cupom fiscal.</p>
        </div>
      </div>
      <div class="step">
        <div class="step-icon">
          <img src="{% static 'assets/images/Ícone-de-Sorte.png' %}" alt="Ícone de Sorte">
        </div>
        <div class="step-content">
          <h3 class="step-title">3. CONCORRA A PRÊMIOS!</h3>
          <p>Após o cadastro, você receberá seus números da sorte para concorrer aos prêmios.</p>
          <div class="premio-box">
            <h4>8 PRÊMIOS SEMANAIS</h4>
            <p>Sorteios de <strong>R$ 2.000,00</strong> toda semana.</p>
          </div>
          <div class="premio-final">
            <h4>GRANDE PRÊMIO FINAL</h4>
            <p>Um certificado de ouro no valor de <strong>R$ 150.000,00</strong>!</p>
          </div>
        </div>
      </div>
      
    </div>
    <p class="regulamento-link">Guarde todos os cupons cadastrados! Eles são sua garantia. <a
        href="regulamento.html">Consulte o regulamento completo</a>.</p>
  </section>
  <!-- como participar  -->

<script src="{% static 'main.js' %}"></script>

{% endblock %}
