{% extends 'base.html' %}
{% load static %}

{% block title %}Início{% endblock %}

{% block content %}
{% include 'includes/header.html' %}

<!-- SEÇÃO INICIAL -->
<section id="inicio" class="pt-1">
  <div class="container-fluid py-8" style="height: auto;" >
    <div class="row align-items-center" style="background-image: linear-gradient(to right, #FEEA3B, #fde615ff);">
      <div class="col-md-6 col-lg-6 mb-3 text-center">
        <img src="{% static 'imgs_sistema/premios_0.png' %}" alt="Prêmios" class="img-fluid" style="max-height: 800px;filter: drop-shadow(0 0 10px rgba(96, 250, 6, 0.7));">
      </div>
      
      <div class="col-md-6 col-lg-6 mb-4 text-center">
        <img src="{% static 'imgs_sistema/hero_7.png' %}" alt="Herói" class="img-fluid" style="max-height: 450px;margin:3.5%;">
      </div>
    </div> 
  </div>
  
    <div class="grid-container" style=" background-color: #C20D19;width: 100%;">
      <div> 
        <img src="{% static 'imgs_sistema/grande_premio.png' %}" alt="Grande Prêmio" class="img-fluid" style="max-height: 200px;"> 
      </div>
      <div>
        <img src="{% static 'imgs_sistema/soma.png' %}" alt="Grande Prêmio" class="img-fluid" style="max-height: 70px; margin-top:25%;"> 
      </div>
      <div>
        <img src="{% static 'imgs_sistema/premios_semanais.png' %}" alt="Prêmios Semanais" class="img-fluid" style="max-height: 200px;"> 
      </div>  
      <div>
        <img src="{% static 'imgs_sistema/soma.png' %}" alt="Grande Prêmio" class="img-fluid" style="max-height: 70px;margin-top:25%;">
      </div>
      <div>
        <img src="{% static 'imgs_sistema/bonus.png' %}" alt="Bônus" class="img-fluid" style="max-height: 200px;">
      </div>
        
      </div>
    </div>
  </div>
  
</section>

<!-- SEGUNDA SESSÃO COMO PARTICIPAR -->
<section id="como_participar" class="pt-2">

  <div class="container-fluid py-2" style="background-color: #fffdf5;">

    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-lg-4 text-center mb-3">
        <img src="{% static 'imgs_sistema/texto_btn_cadastrar.png' %}" alt="Texto Cadastro" class="img-fluid" style="max-height: 100px;">
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-lg-4 text-center mb-3">

        <a href="{% url 'cadastrar_participante' %}"  type="btn btn-light" class="glow-on-hover">
          <img src="{% static 'imgs_sistema/btn_cadastrar.png' %}" alt="Botão Cadastrar" class="img-fluid" style="max-height: 80px;">
        </a>

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-lg-6 text-center">
        <img src="{% static 'imgs_sistema/pack.png' %}" alt="Pack" class="img-fluid" style="max-height: 600px;">
      </div>
    </div>
  </div>

  <div class="container-fluid py-3" style="background-image: linear-gradient(#FEEA3B, #E3A42E);">
    
    <div class="row justify-content-center">
      <div class="col-6 col-md-4 col-lg-4 mb-3 text-center">
        <img src="{% static 'imgs_sistema/hero_4.png' %}" alt="Personagem" class="img-fluid" style="max-height: 350px; margin-left:2%;">
      </div>

      <div class="col-4 col-md-4 col-lg-4 mb-3 text-center" style="margin-top:5%;">
        <div style="color: #C20D19; font-size:22px; font-family: Segoe UI; text-align:left;font-weight:bold;">
          <p>CADASTRE SEU CUPOM FISCAL VIA<br>
            WHATSAPP COM O ROBOM-BRIL.</p>
        </div>
        <div style="color: #263A7C; font-size:22px; font-family: Segoe UI; text-align:left;font-weight:bold;">
          <p>
            CADA CUPOM GERA UM NÚMERO <br> DA SORTE. QUANTO MAIS CUPONS, <br> MAIS CHANCES DE GANHAR.
          </p>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-3 text-center">
        <a href="#">
          <img src="{% static 'imgs_sistema/grupo_48.png' %}" alt="whatsapp" class="img-fluid" style="max-height: 130px;margin-top:25%;margin-right:2%;">
        </a>
      </div>
      
    </div>

  </div>
</section>


<!--sessão REGULAMENTO -->
<section id="regulamento" class="pt-5" style="background-color: #fffdf5;">
  <div class="container-fluid py-3">

    <div class="row justify-content-center align-items-center gx-2">
      <div class="col-12 col-md-6 col-lg-5 text-center" style="border-collapse: collapse;">
        <img src="{% static 'imgs_sistema/hero_5.png' %}" alt="hero" class="img-fluid" style="max-height:400px;">
      </div>

      <div class="col-12 col-md-2 col-lg-5 text-center" style="margin:1%;">
        <div style="color:#263A7C; font-family: Arial; text-align: justify;font-weight: bold;">
          <h1><b>REGULAMENTO</b></h1>
        </div>
        <div style="font-family: Arial; text-align:left;">
            <p> 
              <b> Salve no seu celular para ter acesso ao Hotsite da promoção Promoção </b> 
            <p>
            <P>
                válida de 15/08/25. Produtos participantes: (listar) Participação sujeita à verificação dos 
                cupons fiscais e posts nas redes sociais. Menores de 18 anos devem estar representados por 
                responsáveis legais. Seus dados são protegidos pela LGPD e usados apenas para esta promoção. 
                08 prêmios semanais recebidos em cartão pré-pago no valor de 12.000,00. 01 Prêmio Final recebido 
                em cartão pré-pago no valor de 150.000,00. Consulte o regulamento completo no link 
                bombril/promocaorobombril.com
            </p>
          </div>

          <a href="#" type="btn btn-light" class="glow-on-hover">
            <img src="{% static 'imgs_sistema/btn_regulamento.png' %}" alt="hero" class="img-fluid" style="max-height:400px;margin-top:20px;">
          </a>
      </div> 
    
    </div>

    <!-- borda  -->
    <div class="row justify-content-center">
      <div class="col-12" >
          <div class="borda"></div>
      </div>
    </div>
      
  </div>

   

</section>


<!-- SESSÃO SORTEIOS -->
<section id="sorteios" class="pt-1">

  <div class="container-fluid py-2" style="background-color: #fffdf5;">
    
    <div class="row justify-content-center align-items-center gx-2">
      <div class="col-6 col-md-4 col-lg-4 mb-3 text-center">
        <img src="{% static 'imgs_sistema/premios_0.png' %}" alt="Premios" class="img-fluid" style="max-height:200px;margin-top:10%;">
      </div>

      <div class="col-6 col-md-4 col-lg-4 mb-3 text-center">
        <div style="color: #C20D19;font-family:Segoe UI;text-align:center;font-weight:bold;font-size:50px;">
          <p>SORTEIOS</p>
        </div>
        <div style="color: #263A7C;margin-top:0;font-family:Segoe UI; text-align:justify;font-weight:bold;font-size:16px;">
            ACOMPANHE AS DATAS E RESULTADOS DOS SORTEIOS
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-4 mb-3 text-center">
          <img src="{% static 'imgs_sistema/hero_6.png' %}" alt="hero" class="img-fluid" style="max-height: 200px;">
      </div>
      
    </div>

  </div>

  <div class="container-fluid" style="background-color: #fffdf5;">
  <div class="row justify-content-center">
  <div class="accordion" style="width: 50%;">
  <div class="item">
    <button class="accordion-header active">
      <span>SORTEIO 22 DE AGOSTO</span>
      <span class="arrow">▼</span>
    </button>
    <div class="accordion-content active">
      <strong>GANHADORES</strong>
      <ul>
        <li>FULANO DA SILVA</li>
        <li>SICRANO DA SILVA</li>
      </ul>
    </div>
  </div>

  <div class="item">
    <button class="accordion-header">
      <span>SORTEIO 29 DE AGOSTO</span>
      <span class="arrow">▼</span>
    </button>
    <div class="accordion-content">
      <strong>NÃO APURADO</strong>
    </div>
  </div>

  <div class="item">
    <button class="accordion-header">
      <span>SORTEIO 15 DE SETEMBRO</span>
      <span class="arrow">▶</span>
    </button>
    <div class="accordion-content">
      <p>Conteúdo do sorteio 15 de setembro...</p>
    </div>
  </div>

  <div class="item">
    <button class="accordion-header">
      <span>SORTEIO 22 DE SETEMBRO</span>
      <span class="arrow">▶</span>
    </button>
    <div class="accordion-content">
      <p>Conteúdo do sorteio 22 de setembro...</p>
    </div>
  </div>
</div>

</div>
</div>

 <div class="container-fluid py-1" style="height:0%; background-color: #C20D19;width: 100%;" >
    <div class="row justify-content-center align-items-center gx-4">
      <div class="class="col-4 col-md-4 col-lg-4 mb-3 text-center style="margin-top:2%;">
        <div style="color: white; font-family: Segoe UI; font-size: 54px; text-align:center;font-weight: bold;">
          <p>
            AINDA TEM DÚVIDAS?
          </p>
        </div>
        <div style="color: white; font-family: Segoe UI; font-size: 16px; text-align:center;font-weight: bold;">
          <p>FALE AGORA COM NOSSO SERVIÇO DE ATENDIMENTO AO CONSUMIDOR</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-lg-4 text-center mb-3">
        <a href="#" class="glow-on-hover" style="max-height: 50px;">
         <img src="{% static  '/imgs_sistema/btn_faleconosco.png'%}" alt="Botão Fale Conosco" style="max-height: 50px; width: 100%;">
        </a>

      </div>
    </div>


  </div>

</section>

</section>


<script src="{% static 'participantes.js' %}"></script>

{% endblock %}
