{% extends 'base.html' %}
{% load static %}

{% block title %}Início{% endblock %}

<div id="header-placeholder"></div> 


{% block content %}
{% include 'includes/_header.html' %}


<!-- index -->

<section class="prizes-section">
    <div class="container prizes-container">
        <img src="{% static 'assets/images/Round1V2.png' %}" alt="Grande Prêmio: Carro Elétrico + iPhone e mais" class="prize-item">
        <img src="{% static 'assets/images/PlusIcon.png' %}" alt="Mais" class="plus-icon">
        <img src="{% static 'assets/images/Round2V2.png' %}" alt="8 Prêmios Semanais: 1 ano de supermercado grátis"
            class="prize-item2">
    </div>
</section>

        <section class="buy-and-register-section">
            <div class="container">

                <div class="image-grid-container">
                    <div class="grid-item item-1">
                        <img src="{% static 'assets/images/COMPRE 3 PRODUTOS.png' %}" alt="compre 3 produtos">
                    </div>

                    <div class="grid-item item-2">
                        <img src="{% static 'assets/images/PRODUTOS.png' %}" alt="produtos bombril">
                    </div>

                    <div class="grid-item item-3">
                        <img src="{% static 'assets/images/TURBINE SUAS CHANCES.png' %}" alt="TURBINE">
                    </div>
                </div>

            </div>
        </section>

        <section class="whatsapp-section"  style="background-image: url("{% static 'assets/images/background-amarelo.jpg' %}");">
            
        <div class="container whatsapp-container-new">

                <div class="whatsapp-col-mascot">
                    <img src="{% static 'assets/images/ROBOM-BRIL WHATSAPP.png' %}" alt="Mascote Robom-Bril com celular"
                        class="mascote-com-cel">
                </div>

                <div class="whatsapp-col-content">
                    <div class="content-text">
                        <h3>Cadastre pelo Whatsapp.</h3>
                        <p class="texto-destaque">Você também pode se cadastrar pelo WhatsApp, fale com o Robombril.</p>
                    </div>
                    <div class="content-buttons">
                        <a href="#">
                            <img src="{% static 'assets/images/button Whatsapp.png' %}" alt="Botão Cadastrar via WhatsApp">
                        </a>
                    </div>
                </div>

            </div>
        </section>


        <section class="doubts-section">
            <div class="container centered-content">
                <h2 class="custom-title text-bombril-white">Ainda tem dúvidas?</h2>
                <p class="duvidas-content text-bombril-white">Confira as questões mais comuns sobre a promoção</p>
                <a href="FAQ.html"> <img src="{% static 'assets/images/Button-FAQ.png'%}" alt="Fale Conosco" class="cta-button-image">
                </a>
            </div>
        </section>

        <section class="regulation-section">
            <div class="container regulation-container">
                <div class="regulation-col-image">
                    <img src="{% static 'assets/images/ROBOM-BRIL REGULAMENTO.png' %}" alt="Mascote Robom-Bril apontando para o regulamento"
                        class="mascote-regulamento">

                </div>
                <div class="regulation-col-text">
                    <h2 class="custom-title text-bombril-red">Regulamento</h2>
                    <p>Mauris dictum magna eget magna auctor luctus. Maecenas rutrum placerat velit ut lacinia. Sed
                        tellus quam, egestas eu porttitor sit amet, pulvinar euismod orci. Maecenas eu maximus neque.
                    </p>
                    <a href="{% url 'regulamento'%} ">
                        <img src="{% static 'assets/images/Button - Confira o regulamento.png' %}" alt="Confira o Regulamento"
                            class="cta-button-image">
                    </a>
                </div>
            </div>
        </section>

<!-- index -->










     <script src="{% static 'main.js' %}"></script>

{% endblock %}
