<!DOCTYPE
 html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link src="{% static "css/estilo_part.css" %}"></link>

</head>
<body>
  <div class="container-fluid p-2 bg-default  text-center">
  <!--  Navbar fixa -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'painel_participante' %}">Painel do Participante</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      
      {% if user.nivel != '3' %} <!--mudar para user.is_authenticated - quando a parte da autenticação estiver pronta-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>

        <form method="post" action="{% url 'participante' %}" class="d-flex">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-warning">Sair</button>
        </form>
      {% else %}
        <a href="{% url 'participante' %}" class="btn btn-outline-light ms-auto">Login</a>
      {% endif %}
    </div>
  </div>
</nav>



    {% block cabecalho %}
    {% endblock %}
    
  </div>

{% block content %}
{% endblock %}

</body>
</html>